distributedservices/iPow.Service.SSO.Client/Service References/AuthService/AuthenticationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IAuthenticationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sso.ipow.cn/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sso.ipow.cn/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sso.ipow.cn/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPow.Service.SSO.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_IsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ValidateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_ValidateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_SingOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SingOut" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_SingOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingOutResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetOnlineUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineUsers" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetOnlineUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetSecurityTokenCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityTokenCollection" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetSecurityTokenCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityTokenCollectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/Login" message="tns:IAuthenticationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/LoginResponse" message="tns:IAuthenticationService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/IsOnline" message="tns:IAuthenticationService_IsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/IsOnlineResponse" message="tns:IAuthenticationService_IsOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetToken" message="tns:IAuthenticationService_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetTokenResponse" message="tns:IAuthenticationService_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/ValidateToken" message="tns:IAuthenticationService_ValidateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/ValidateTokenResponse" message="tns:IAuthenticationService_ValidateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SingOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/SingOut" message="tns:IAuthenticationService_SingOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/SingOutResponse" message="tns:IAuthenticationService_SingOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetOnlineUsers" message="tns:IAuthenticationService_GetOnlineUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetOnlineUsersResponse" message="tns:IAuthenticationService_GetOnlineUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityTokenCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetSecurityTokenCollection" message="tns:IAuthenticationService_GetSecurityTokenCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetSecurityTokenCollectionResponse" message="tns:IAuthenticationService_GetSecurityTokenCollection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <wsp:PolicyReference URI="#WSHttpBinding_IAuthenticationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/ValidateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingOut">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/SingOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUsers">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/GetOnlineUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityTokenCollection">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationService/GetSecurityTokenCollection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="WSHttpBinding_IAuthenticationService" binding="tns:WSHttpBinding_IAuthenticationService">
      <soap12:address location="http://sso.ipow.cn/AuthenticationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://sso.ipow.cn/AuthenticationService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>